.btn-group { 
    display: flex; 
    display: -ms-flexbox; 
    align-items: center; 
    -ms-flex-align: center; 
}

.btn-group .btn { margin-left: .5rem; }

.btn-group.col .btn { 
    margin-left: 0; 
    margin-top: .5rem; 
}

.btn-group .btn:first-of-type { margin-left: 0; }
.btn-group.col .btn:first-of-type { margin-top: 0; }

/* ============================================================ */

.btn { 
    background: transparent; 
    max-width: 10rem; 
    display: inline-block;  
    padding: 0 1em; 
    border: none; 
    border: 1px solid transparent; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    vertical-align: middle; 
    font-size: .775rem; 
    color: currentColor; 
    cursor: pointer;
}

.btn.block { 
    width: 100%; 
    max-width: 100%; 
    display: block; 
}

.btn.btn-icon { 
    width: 35px; 
    min-width: 0; 
    padding: 0; 
}

.btn.btn-link { 
    min-width: 0;
    width: auto;
    height: auto; 
    line-height: 1.25rem; 
    padding: 0; 
    border-radius: 0;
    border-color: transparent !important; 
}

.btn-list img, 
.btn-arrow img { 
    width: 23px; 
    margin-bottom: 0; 
}

.btn-list { 
    width: 100%; 
    min-width: 0;
    min-height: 35px; 
    padding: 5px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn.btn-dialog { 
    width: 75%; 
    border-color: #FF661A; 
    border-radius: 2rem;
    font-family: 'Nanumsquare-Bold';
    color: #FF661A; 
}

/* ============================================================ */

.btn.sm, 
.btn-group.sm .btn { 
    min-width: 0; 
    height: auto; 
    line-height: initial;
    padding: .15em .65em;
    font-size: .7rem; 
}

.btn.lg, 
.btn-group.lg .btn { 
    min-width: 7rem; 
    width: auto; 
    max-width: 10rem; 
    height: 2.85rem; 
    line-height: 2.75rem; 
    font-size: 1.25rem; 
}

/* ============================================================ */

.btn.primary { 
    background: #FF661A !important; 
    border-color:  #FF661A !important; 
    color: #fff; 
}

.btn-border.primary, 
.btn-link.primary { 
    background: transparent;
    color:#FF661A; }

.btn-border.warning, 
.btn-link.warning { 
    background: transparent;
    color:#f1b437; }

.btn-border.danger, 
.btn-link.danger { 
    background: transparent;
    color:#ee352e; }

.btn-border.success, 
.btn-link.success { 
    background: transparent;
    color:#5cc19f; }


/* ============================================================ */

/* form */

form label { 
    display: inline-block; 
    min-width: 70px; 
    margin-right: .5rem; 
    font-size: .725rem; 
    font-weight: 700;  
    color: #454d5b; 
}

.sch-box, .chk-box, .rdo-box { 
    display: flex; 
    display: -ms-flexbox; 
    align-items: center; 
    -ms-flex-align: center; 
}

.sch-box { position: relative; }

.sch-box input[type="text"] { 
    padding-left: 1em; 
    padding-right: 2.75em; 
    border: 1px solid #ccc;
    border-radius: 1rem;
    flex: 1; 
    -ms-flex: 1 1 0; 
}

.sch-box input[type="submit"] { 
    background: url(../img/icon/search.svg) center center no-repeat; 
    background-size: 13px; 
    width: 35px; 
    min-width: 25px; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
}

.sel-box select { 
    background: url('../img/icon/arrow-down.svg') calc(100% - 10px) center no-repeat; 
    background-size: 10px; 
    padding-left: 1em; 
    padding-right: 2.75em; 
}

.chk-box input, 
.rdo-box input { display: none; }

.chk-box label, 
.rdo-box label { 
    min-width: 0; 
    min-height: 35px; 
    display: flex;
    align-items: center;
    line-height: 1rem; 
    font-size: .775rem; 
    font-weight: 400; 
}

.chk-box label::before, 
.rdo-box label::before { 
    content:''; 
    position: relative;
    display: inline-block; 
    min-width: 15px; 
    width: 15px; 
    height: 15px; 
    border: 1px solid #aaa; 
    border-radius: .25rem;
    margin-right: .5rem; 
}

.rdo-box label::before { border-width: 5px; }

.chk-box label::after { 
    content: ''; 
    display: none; 
    width: 8px; 
    height: 6px; 
    border-left: 2px solid #FF661A; 
    border-bottom: 2px solid #FF661A;
    position: absolute;
    top: 13px; 
    left: 3px; 
    transform: rotate(-45deg);
}

.rdo-box label::after { 
    content: ''; 
    background-color: #fff; 
    width: 7px; 
    height: 7px; 
    position: absolute;
    top: 14px; 
    left: 4px;
    border-radius: .15rem;
}

.rdo-box input:checked + label::before { border-color: #FF661A; }
.chk-box input:checked + label::after { display: block; }


/* table */


.table-component, 
.table-component table { 
    width: 100%; 
    height: 100%; 
}

table th, table td { 
    vertical-align: middle;
    color: #3f4655; 
}

table th { 
    border-bottom: 1px solid #d8d8d8; 
    font-family: 'NanumSquare-ExtraBold', san-serif;
}


/* tab */


.tab-component { 
    position: relative;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.tab-component .tab-label-group ul { 
    display: flex; 
    display: -ms-flexbox;
    border-bottom: 1px solid #eee; 
}

.tab-label-group a.tab-label { 
    display: flex; 
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-pack: center;
    width: 80px; 
    margin-left: 1.5rem; 
    padding: 1.25em 0; 
    font-size: .75rem; 
    font-weight: 700; 
}

.tab-label-group a.tab-label:first-child { margin-left: 0; }

.tab-component .tab-panel { 
    display: none; 
    padding-left: 2px; 
    position: relative;
    flex: 1; 
    -ms-flex: 1 1 0; 
    overflow: auto; 
}

.tab-component .tab-panel.active { display: block; }

.tab-component div.bar { 
    background: #FF661A; 
    width: 80px; 
    height: 2px; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    transition: left .5s ease-in-out;
}

/* circle-label "tab" */

.tab-component.circle-label .tab-label-group { padding: .75em 1em; }
.tab-component.circle-label .tab-label-group ul { border-bottom: 0;  }

.tab-component.circle-label a.tab-label { 
    width: auto; 
    height: 25px; 
    margin-right: .75rem; 
    padding: 0 1em; 
    border-radius: 1rem;
}

.tab-component.circle-label a.tab-label.active { 
    background: #FF661A; 
    color: #fff; 
}

.tab-component.circle-label div.bar { display: none; }


/* crumb */


.crumb-component { padding: .5em 1rem; }

.crumb-component ul { 
    display: flex; 
    display: -ms-flexbox; 
    align-items: center;
    -ms-flex-align: center;
    font-size: .525rem; 
}

.crumb-component ul li:nth-child(2n) { 
    width: 6px; 
    height: 6px; 
    border-right: 1px solid #FF661A; 
    border-top: 1px solid #FF661A; 
    transform: rotate(45deg); 
    margin-left: .35rem; 
    margin-right: .45rem; 
}

.crumb-component ul li:last-child a { font-weight: 700; }


/* range-component */


input[type="range"] {
    -webkit-appearance: none;
    background-color: #aaa;
    width: 100%; 
    height: 35px;
    border-radius: 5px;
    outline: 0;
    margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--color);
    margin-top: -12.5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-ms-thumb {
    border: 2px solid white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
    
​input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid var(--color);
}
input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
}
    
input[type="range"]::-webkit-slider-runnable-track {
    background: #eee;
    height: var(--line-height);
    border-radius: var(--line-height);
}
    
input[type="range"]::-moz-range-track {
    background-color: #eee;
    border-radius: 4px;
}

input[type="range"]::-ms-track {
    background-color: #eee;
    color: transparent;
    border: none;
}

input[type="range"]::-ms-fill-lower {
    background-color: var(--color);
}
    
input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(
    to right,
    var(--color) 0%,
    var(--color) var(--progress),
    #eee var(--progress),
    #eee
    );
}
    
input[type="range"]::-moz-range-track {
    background: linear-gradient(
    to right,
    var(--color) 0%,
    var(--color) var(--progress),
    #eee var(--progress),
    #eee
    );
}

input[type="range"]::-ms-fill-lower {
    background: linear-gradient(
    to right,
    var(--color) 0%,
    var(--color) var(--progress),
    #eee var(--progress),
    #eee
    );
}